body{
	background-color: white;
	border: 1px solid black;
	height: 1000px
}

h1{
	color: black;
	font-size: 15px;
	margin-top: 10px;
    margin-bottom:  10px;
    font-family: sans-serif;

}


h2{
	color: white;
	background-color: green;
	border: 2px;
	width: 400px;
	text-align: center;
    font-family: sans-serif;
}

button{
	color: white;
	background-color: green;
	padding: 10px;
	margin-top:  -400px;
	border-radius: 10px;

}

button:hover{
	background-color: yellow;
	color: black;
}



input{
	border: 2px solid #ccc;
	padding: 3px 1px 0 0;
	width: : 100px;
	box-shadow: 1px 1px 1px 1px;
	box-sizing: border-box;
	border: 2px solid black;
	border-radius:3px;
	padding-left: 8px;
	color: green;
}

input[type=text]:focus{
	border: 3px grey;
	padding: 1px 1px 0 0;
}

table, th, td{
	border: 1px solid black;
	width: 350px;
	padding: 5px;
	font-family: sans-serif;
}

tbody{
	height: 200px;
	overflow: auto;

}


#DisplayResultZone{
	box-shadow: 0px 0px 2px 2px;
	box-sizing: border-box;
	padding: 7px;
	border-radius: 4px;
	padding-left: 8px;
	float: right;
	position: fixed;
	margin-top: -450px;
	margin-left: 400px;
	width: 800px;
	height: 600px;
}


#displayResultId{
	display: inline-block;
	padding:  0 2px 0 0;
	border: 3px gray;
	width: 150px;

	margin: 0 20px;
	border-radius: 30px;

}


#displayCurrentTotalResidueId{
	color:  blue;
	margin-left:  400px;
}

#costCalcDiv{
	width: 200px;
	border: 2px 2px 2px 2px black;
	box-sizing: border-box;
	margin-top: 20px;
	margin-left: 30px;
	
}

#incomeCalcDiv{
	width: 200px;
	border: 2px 2px 2px 2px black;
	box-sizing: border-box;
	margin-top: 10px;
	margin-left: 30px;
}


#incomeTableDiv{
	border: 2px 2px 2px 2px black;
	width: 350px;
	padding: 5px;
	position: fixed;
	margin-top: -445px;
	margin-right: 50px;
	margin-left: 830px;
}

#calculateSavingId{
	background-color: green;
	color: white;
	padding: 10px;
	margin:10px 2px;
	border-radius: 10px;
	margin-left: 30px;
	float: right;
	margin-top: 250px;
}
#calculateSavingId:hover{
	background-color:  yellow;
	color: black;
}

#calculatorBar{
	border:2px 2px 2px 2px solid black;
	width: 30px;
	margin-left: 30px;
	margin-top: 40px;
}


#displaySavings{
	width: 400px;
	height: 30px;
	color: green;
    font-family: sans-serif;
	font-size: 20px;
	text-align: center;
	padding-top: 18px;
	float: right;
	margin-left: 600px;
	margin-top: -500px;


}

#tableBar{
	margin-top: -330px;
}

#displayIncomeResultId{
	color: red;

}

#displayCostResultId{
	color: red;

}

#allocateTableDiv{
	width: 350px;
	padding: 5px;
	position: fixed;
	margin-top: -100px;
	margin-right: 50px;
	margin-left: 830px;
}

#allocationCalcDiv{
	width: 300px;
}









